{% load staticfiles %}
 {% comment %} <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>{% endcomment %}



    <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
    <script src="{% static 'bower_components/ngstorage/ngStorage.js' %}"></script>
    <script src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>
    <script src="{% static 'bower_components/angular-material/angular-material.js' %}"></script>
    <script src="{% static 'bower_components/angular-material-icons/angular-material-icons.js' %}"></script>

    <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <script src="{% static 'bower_components/angular-local-storage/dist/angular-local-storage.js' %}"></script>
    <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>


    <script src="{% static 'lib/ngInfiniteScroll/build/ng-infinite-scroll.js' %}"></script>
    <script src="{% static 'lib/areamap/jquery.imagemapster.js' %}"></script>


    <!--Custom ScrollBar-->
    <script src="{% static 'lib/angular-perfect-scrollbar-master/bower_components/perfect-scrollbar/src/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'lib/angular-perfect-scrollbar-master/bower_components/perfect-scrollbar/min/perfect-scrollbar.with-mousewheel.min.js' %}"></script>
    <script src="{% static 'lib/angular-perfect-scrollbar-master/src/angular-perfect-scrollbar.js' %}"></script>

    <!--custom comapre male age headroom filter scripts-->
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-ui-switch/angular-ui-switch.js' %}"></script>

    <!--********** For youtube video play****-->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="{% static 'bower_components/angular-youtube-mb/dist/angular-youtube-embed.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/ng-slider/dist/ng-slider.min.js' %}"></script>
    <!--<script type="text/javascript" src="bower_components/angular-bootstrap-checkbox/angular-bootstrap-checkbox.js"></script>-->
    <script type="text/javascript" src="{% static 'bower_components/headroom.js/dist/headroom.js' %}"></script>
    <!--<script type="text/javascript" src="bower_components/headroom.js/dist/jQuery.headroom.js"></script>-->
    <script type="text/javascript" src="{% static 'bower_components/headroom.js/dist/angular.headroom.js' %}"></script>

    <!--***********For Authontication Base64***********-->
    <script type="text/javascript" src="{% static 'bower_components/angular-base64/angular-base64.min.js' %}"></script>
    <!--***********For get Tocket from Google+***********-->
    <script type="text/javascript" src="{% static 'bower_components/angular-directive.g-signin/google-plus-signin.js' %}"></script>
    <!--for facebook authenticatio-->
    <script type="text/javascript" src="{% static 'bower_components/angular-facebook/lib/angular-facebook.js' %}"></script>

    <script src="{% static 'app.js' %}"></script>
    <script src="{% static 'myApp.config.js' %}"></script>
    <script src="{% static 'myApp.routes.js' %}"></script>

    <script src="{% static 'javascripts/authentication/authentication.js' %}"></script>
    <script src="{% static 'javascripts/authentication/controller/authentication.controller.js' %}"></script>
    <script src="{% static 'javascripts/authentication/service/authentication.service.js' %}"></script>

    <script src="{% static 'javascripts/symptoms/symptoms.js' %}"></script>
    <script src="{% static 'javascripts/symptoms/controllers/symptoms.controller.js' %}"></script>
    <script src="{% static 'javascripts/symptoms/services/symptoms.services.js' %}"></script>

    <script src="{% static 'javascripts/conditions/conditions.js' %}"></script>
    <script src="{% static 'javascripts/conditions/controllers/conditions.controller.js' %}"></script>
    <script src="{% static 'javascripts/conditions/services/conditions.services.js' %}"></script>

    <script src="{% static 'javascripts/medications/medications.js' %}"></script>
    <script src="{% static 'javascripts/medications/controllers/medications.controller.js' %}"></script>
    <script src="{% static 'javascripts/medications/services/medications.services.js' %}"></script>

    <script src="{% static 'javascripts/procedures/procedures.js' %}"></script>
    <script src="{% static 'javascripts/procedures/controllers/procedures.controller.js' %}"></script>
    <script src="{% static 'javascripts/procedures/services/procedures.services.js' %}"></script>

    <script src="{% static 'javascripts/doctors/doctors.js' %}"></script>
    <script src="{% static 'javascripts/doctors/controllers/doctors.controller.js' %}"></script>
    <script src="{% static 'javascripts/doctors/services/doctors.services.js' %}"></script>

    <script src="{% static 'javascripts/hospitals/hospitals.js' %}"></script>
    <script src="{% static 'javascripts/hospitals/controllers/hospitals.controller.js' %}"></script>
    <script src="{% static 'javascripts/hospitals/services/hospitals.services.js' %}"></script>


    <!--**********Custom Services****-->
    <script src="{% static 'javascripts/publicService.js' %}"></script>
    <script src="{% static 'javascripts/scrollService.js' %}"></script>
    <script src="{% static 'javascripts/CacheService.js' %}"></script>
    <script src="{% static 'javascripts/AuthService.js' %}"></script>

    <script>

    var tabIndex=0;
    function setBodyBack(ind){


        tabIndex=ind;

      }

      angular.module('myApp').controller("IndexController", IndexControllerFun);
      IndexControllerFun.$inject=['$scope', '$rootScope', '$location', '$http', '$base64', 'AuthService', 'CacheService'];

      function IndexControllerFun($scope, $rootScope, $location, $http, $base64, AuthService, CacheService)
      {

        $scope.isLoginShow=true;

        var stateName=($location.path()).substring(($location.path()).indexOf("/")+1, ($location.path()).indexOf("/")+5);
        if(stateName==="symp")
        {
          $scope.selectedIndex=0;
        }
        if(stateName==="cond")
         {
          $scope.selectedIndex=1;
        }
        if(stateName==="medi")
         {
          $scope.selectedIndex=2;
        }
        if(stateName==="proc")
         {
          $scope.selectedIndex=3;
        }
        if(stateName==="doct")
         {
          $scope.selectedIndex=4;
        }
        if(stateName==="hosp")
         {
          $scope.selectedIndex=5;
        }

        //********For Submit**********
        $scope.submit=function()
        {
          $http({
            url:'http://52.74.163.60/client/sign_up/',
            method:'POST',
            headers:{
                'Content-Type':'application/json'
            },
            data : {
              'username' : $scope.uname,
              'email' : $scope.umail,
              'password' : $scope.upass
            }
          }).success(function(response){
            alert(JSON.stringify(response));
          }).error(function(error){
            alert(error.email);
          });
        }

        if(CacheService.isCache("client_info"))
        {
          $scope.isLoginShow=false;
          var userinfo=JSON.parse(CacheService.getCache("client_info"));
          $scope.loginName=userinfo.owner.first_name;
        }
        else
        {
          $scope.loginName="Login";
        }

        ///*********For Google+**********
        $scope.$on('event:google-plus-signin-success', function (event,authResult) {
          AuthService.sendGoogleToken(authResult.access_token);
        });
        $scope.$on('event:google-plus-signin-failure', function (event,authResult) {
          //alert("error");
        });

        //*****For When SignIn then auto hide form and show Profile on main screen*****
        $rootScope.$on('LoginEvent', function(event, response) {

              $scope.isLoginShow=false;
              $scope.loginName=response.owner.first_name;
              $('#tile1 .close').click();
        });


        $scope.isLogoutBarShow=false;
        $scope.loginMouseOver=function()
        {
          $scope.isLogoutBarShow=true;
        }

        $scope.logout=function()
        {
          $scope.isLogoutBarShow=false;
          if(CacheService.isCache("client_info"))
          {
            CacheService.removeCache("client_info");
            CacheService.removeCache("mySwaasthToken");
            $scope.isLoginShow=true;
          }
        }

      }

    </script>

    <script>
        $(document).ready(function(){

        $('#tile1 .settings').click(function(){

            if(!window.sessionStorage.getItem("client_info"))
        {
          $('#tile1').addClass('animate');
            $('#tile1 div.settings-form').css('display', 'block').delay('40').animate({'opacity': 1});

            setTimeout(function(){
                $('#tile1 form div').css('display', 'block').animate({'opacity': 1, 'top':0}, 200);
            }, 40);

            setTimeout(function(){
                $('#tile1 form button').css('display', 'block').animate({'opacity': 1, 'top':0}, 200);
                $('#tile1 .cx, #tile1 .cy').addClass('s1');
                setTimeout(function(){$('#tile1 .cx, #tile1 .cy').addClass('s2');}, 100);
                setTimeout(function(){$('#tile1 .cx, #tile1 .cy').addClass('s3');}, 200);
            }, 100);
        }

        });


        $('#tile1 .close').click(function(){

            $('#tile1 .cx, #tile1 .cy').removeClass('s1 s2 s3');

            $('#tile1 form button').animate({'opacity': 0, 'top':-20}, 120, function(){$(this).css('display', 'none')});
            setTimeout(function(){
                $('#tile1 form div').animate({'opacity': 0, 'top':-20}, 120, function(){
                    $(this).css('display', 'none')
                });
                $('#tile1 div.settings-form').animate({'opacity':0}, 120, function(){$(this).hide();});

                $('#tile1').removeClass('animate');
            }, 50);

        });


        var flipCard = $("#make-3D .tile-3d");

        $("#make-3D .settings").click(function(){

            $('.login-header').text('SignUp');

            $(flipCard).addClass('flip-10');
            setTimeout(function(){
                $(flipCard).removeClass('flip-10').addClass('flip90');
            }, 50);

            setTimeout(function(){
                $(flipCard).removeClass('flip90').addClass('flip190');
                $('#front').hide();	$('#back').show();
                setTimeout(function(){
                    $(flipCard).removeClass('flip190').addClass('flip180');
                    $('#back .cx, #back .cy').addClass('s1');
                    setTimeout(function(){$('#back .cx, #back .cy').addClass('s2');}, 80);
                    setTimeout(function(){$('#back .cx, #back .cy').addClass('s3');}, 150);
                    setTimeout(function(){
                        $(flipCard).css('transition', '100ms ease-out');
                    }, 100);
                }, 100);
            }, 150);
        });

        $('#back .rotate').click(function(){
            $('.login-header').text('Login');
            $('#back .cx, #back .cy').removeClass('s1 s2 s3');
            $(flipCard).removeClass('flip180').addClass('flip190');

            setTimeout(function(){
                $(flipCard).removeClass('flip190').addClass('flip90');
            }, 50);

            setTimeout(function(){
                $('#front').show();	$('#back').hide();
                    $(flipCard).removeClass('flip90').addClass('flip-10');

                setTimeout(function(){
                $(flipCard).removeClass('flip-10').css('transition', '100ms ease-out');
                }, 100);
            }, 150);

        });

        $('button').click(function(){return false;});

    });
    </script>







