
{% load staticfiles %}

 {% comment %}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />

{% endcomment %}

  <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/normalize.css' %} ">
  <link rel="stylesheet" href="{% static 'bower_components/html5-boilerplate/css/main.css' %} ">

  <link rel="stylesheet" href="{% static 'lib/angular-perfect-scrollbar-master/bower_components/perfect-scrollbar/src/perfect-scrollbar.css' %} ">

  <script src="{% static 'bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js' %}  "></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


  <!--custom files-->
  <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %} ">
  <link rel="stylesheet" href="{% static 'bower_components/angular-ui-switch/angular-ui-switch.css' %} ">
  <!--<link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/css/bootstrap-slider.css">
  <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">-->
  <link rel="stylesheet" type="text/css" href="{% static 'bower_components/ng-slider/src/css/ng-slider.css' %}">

  <link rel="stylesheet" href="{% static 'lib/css/custom/indexstyle.css' %} ">

  <link rel="stylesheet" href="{% static 'bower_components/angular-material/angular-material.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/custom/angularmaterial.css' %} ">

  <link rel="stylesheet" href="{% static 'lib/css/custom/style.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/custom/style1.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/login/loginstyle.css' %} ">
  <link rel="stylesheet" href="{% static 'lib/css/custom/PopupdialogStyle.css' %} ">